* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* Banner Section */
.banner {
    min-height: 100vh;
    width: 100%;
    background-image: url(./images/banner/banner3.png);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 150px;
}

.banner-title {
    color: #FFF;
    text-align: right;
    width: 600px;
    margin-left: 50%;
    padding: 200px 50px 10px;
    font-size: 65px;
    font-weight: 700;
}

.banner-description {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    width: 500px;
    margin-left: 55%;
    padding: 80px 50px;
}

.btn-contact {
    text-decoration: none;
    text-align: right;
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 75%;
}

/* Failures Section */
.failures {
    width: 70%;
    margin: auto;
    display: flex;
    gap: 200px;
    align-items: center;
    margin-bottom: 150px;
}

.failures-text {
    gap: 500px;
}

.failures-title {
    width: 300px;
    color: #151414;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;

}

.failures-description {
    width: 420px;
    color: #444343;
    font-size: 20px;
    margin-bottom: 20px;
}

.list {
    color: #444343;
}

.failures-text ul li {
    margin: 10px;
    font-size: 20px;
    list-style-type: disc;
}

/* Plans Section */
.plans {
    width: 70%;
    margin: auto;
}

.plans-title {
    color: #151414;
    text-align: center;
    font-size: 50px;
    margin-bottom: 100px;
}

.plans-option {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 150px;
}

.plans-box {
    padding: 10px;
    align-items: center;
    text-align: center;
}

.plans-box h2 {
    font-size: 30px;
    margin-top: 24px;
}

.plans-box p {
    font-size: 20px;
    margin-top: 20px;
}

/* Positive Section */
.positive {
    border-radius: 8px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%), url(./images/watch.png);
    width: 60%;
    height: 300px;
    margin: auto;
    background-size: cover;
    color: white;
    padding: 20px;
    margin-bottom: 150px;
}

.positive-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    width: 460px;
    margin: 60px 0px 60px 100px;
}
.btn-callnaw {
    text-decoration: none;
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 100px;
}